@tailwind base;
@tailwind components;
@tailwind utilities;

/* General, standard custom scrollbar */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #9ca3af transparent; /* thumb + track */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* neutral gray */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
  /*transition: background-color 0.2s ease;*/
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

@media (prefers-color-scheme: dark) {
  .custom-scrollbar {
    scrollbar-color: #6b7280 transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b7280;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #d1d5db;
  }
}
