name: Chat Liquibase migrations

on:
  push:
    branches:
      - main
    paths:
      - 'infra/db-migrations/**'
  workflow_dispatch:

jobs:
  liquibase-migration-chat-db:
    runs-on: ubuntu-latest
    env:
      SCHEMA_API_URL: ${{ secrets.SCHEMA_API_URL }}
    steps:
      - name: Run Liquibase updates
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_IP-ADDRESS }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.HOST_SSH_KEY_CHAT_SERVER }}
          timeout: 20m
          script: |
            set -e
            
            set -a
            source $HOME/staging/hush-chat/.env
            set +a
              
            export JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64
            export PATH=$JAVA_HOME/bin:$PATH
            export CLASSPATH=$HOME/liquibase/postgresql-42.2.25.jar
            export SCHEMA_API_URL=https://staging-api.gethush.chat/public/user/workspaces            
            
            echo "Run platform schemas Liquibase update"
            
            liquibase \
            --driver=org.postgresql.Driver \
            --changeLogFile=$HOME/staging/hush-chat/infra/db-migrations/platform/db.changelog-root.yaml \
            --classpath=$CLASSPATH \
            --url=$SPRING_DATASOURCE_URL \
            --username=$SPRING_DATASOURCE_USERNAME \
            --password=$SPRING_DATASOURCE_PASSWORD \
            --defaultSchemaName=$SPRING_DATASOURCE_GLOBAL_SCHEMA \
            --liquibaseSchemaName=$SPRING_DATASOURCE_GLOBAL_SCHEMA \
            --logLevel=debug \
            update
            
            
            echo "Run workspace Liquibase update for all schemas"
            
            echo "Fetching list of schemas..."
            schemas=$(curl -s $SCHEMA_API_URL | jq -r '.[]')
  
            for SCHEMA in $schemas; do
            echo "Running Liquibase update for schema: $SCHEMA"
            liquibase \
            --driver=org.postgresql.Driver \
            --changeLogFile=$HOME/staging/hush-chat/infra/db-migrations/workspaces/db.changelog-root.yaml \
            --classpath=$CLASSPATH \
            --url=$SPRING_DATASOURCE_URL \
            --username=$SPRING_DATASOURCE_USERNAME \
            --password=$SPRING_DATASOURCE_PASSWORD \
            --defaultSchemaName=$SCHEMA \
            --liquibaseSchemaName=$SCHEMA \
            --logLevel=debug \
            update

